@model KlinikaMVC.Models.Wizyta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Wizyta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataWizyty" class="control-label"></label>
                <input asp-for="DataWizyty" class="form-control" />
                <span asp-validation-for="DataWizyty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacjentId" class="control-label"></label>
                <select asp-for="PacjentId" class ="form-control" asp-items="ViewBag.PacjentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TerapeutaId" class="control-label"></label>
                <select asp-for="TerapeutaId" class ="form-control" asp-items="ViewBag.TerapeutaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
