@{
    ViewData["Title"] = "Strona Główna";
}

<div class="container text-center mt-5">
    <div class="p-5 mb-4 bg-light rounded-3 shadow-sm border">
        <div class="container-fluid py-5">
            <h1 class="display-4 fw-bold text-dark">System Zarządzania Kliniką</h1>
            <p class="col-md-8 mx-auto fs-4 text-muted mt-3">
                Witaj w panelu administracyjnym. Zarządzaj pacjentami, planuj wizyty i monitoruj długi zaciągnięte w kasynach.
            </p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg mt-3" asp-controller="Pacjenci" asp-action="Index" role="button">Przejdź do bazy pacjentów</a>
        </div>
    </div>
</div>